[Unit]
Description=Initalize Octoprint
After=network-online.target nss-lookup.target time-sync.target
Requires=network-online.target nss-lookup.target time-sync.target

[Service]
Type=forking
ExecStart=/usr/bin/octoprint-bootstrap
RemainAfterExit=yes
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target